<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Surveillance - Dashboard</title>

     <!-- Icon logo -->
     <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/vet-logo.png') }}">
     <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/vet-logo.png') }}">
     <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/vet-logo.png') }}">
     <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/vet-logo.png') }}">
 
     <!-- Libraries CSS Files -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
     <link rel="stylesheet" href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='lib/animate/animate.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

     <!-- Main Stylesheet File -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <img src="/static/img/vet-logo.png" alt="Logo" class="logo-icon">
            <button class="hamburger" aria-label="Toggle menu">☰</button>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/updates">Updates</a></li>
            <li class="dropdown">
                <a href="/animal-surveillance/national" class="active">Animal Surveillance</a>
                <div class="dropdown-content">
                    <a href="/animal-surveillance/national" class="{% if section == 'national' %}active{% endif %}">National Overview</a>
                    <a href="/animal-surveillance/county" class="{% if section == 'county' %}active{% endif %}">County Surveillance</a>
                    <a href="/animal-surveillance/disease" class="{% if section == 'disease' %}active{% endif %}">Disease Thresholds</a>
                    <a href="/animal-surveillance/population" class="{% if section == 'population' %}active{% endif %}">Animal Population</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="/priority-diseases/asf">Priority Diseases</a>
                <div class="dropdown-content scrollable-dropdown">
                    <a href="/priority-diseases/asf">African Swine Fever (ASF)</a>
                    <a href="/priority-diseases/anthrax">Anthrax</a>
                    <a href="/priority-diseases/bru">Brucellosis</a>
                    <a href="/priority-diseases/bov">Bovine Pleuropneumonia (CBPP)</a>
                    <a href="/priority-diseases/cap">Caprine Pleuropneumonia (CCPP)</a>
                    <a href="/priority-diseases/fmd">Foot and Mouth Disease (FMD)</a>
                    <a href="/priority-diseases/lump">Lumpy Skin Disease (LSD)</a>
                    <a href="/priority-diseases/ncd">Newcastle Disease (NCD)</a>
                    <a href="/priority-diseases/ppr">Peste des Petit Ruminants (PPR)</a>
                    <a href="/priority-diseases/rab">Rabies</a>
                    <a href="/priority-diseases/rvf">Rift Valley Fever (RVF)</a>
                    <a href="/priority-diseases/gp">Goat Pox</a>
                </div>
            </li>
            <li><a href="/vaccine-coverage">Vaccine Coverage</a></li>
            <li><a href="{{ url_for('policy')}}">Publications</a></li>
            <li><a href="{{ url_for('upload_policy') }}">Upload Resources</a></li>
        </ul>
    </nav>

    <div class="page-header">
        <h1>National  Animal Health Updates</h1>
        <p>At a glance National animal health surveillance per county and subcounty case reporting.</p>
    </div>

    <main>
        <div class="sub-nav">
            <a href="/animal-surveillance/national" class="{% if section == 'national' %}active{% endif %}">National Overview</a>
            <a href="/animal-surveillance/county" class="{% if section == 'county' %}active{% endif %}">County Surveillance</a>
            <a href="/animal-surveillance/disease" class="{% if section == 'disease' %}active{% endif %}">Disease Thresholds</a>
            <a href="/animal-surveillance/population" class="{% if section == 'population' %}active{% endif %}">Animal Population</a>
            
            {% if section == 'national' %}
            <div class="threshold-dropdown">
                <select id="national_tab" class="selectpicker" data-live-search="false">
                    <option value="national" selected>Disease Overview</option>
                    <option value="summary-reports">Reporting Rates</option>
                    <option value="reporter-track">Reporter Performance</option>
                </select>
            </div>
            {% endif %}

            {% if section == 'disease' %}
            <div class="threshold-dropdown">
                <select id="threshold_tab" class="selectpicker" data-live-search="false">
                    <option value="national-thresholds" selected>National Thresholds</option>
                    <option value="static-threshold">Static Thresholds</option>
                    <option value="rolling-threshold">Moving Average Thresholds</option>
                </select>
            </div>
            {% endif %}
        </div>

        <!-- National -->
        {% if section == 'national' %}
        <div class="tab-content">
            <!-- National Overview -->
            <div id="national" class="tab-pane active">
                <div class="filters">
                    <!-- Diseases -->
                    <div class="filter-row">
                        <div class="filter-group">
                            <label for="select_disease">Select Disease/Condition</label>
                            <select id="select_disease" class="form-select" data-live-search="true">
                                <option value="Brucellosis">Brucellosis</option>
                                <!-- Populated dynamically -->
                            </select>
                        </div>
                        <!-- County -->
                        <div class="filter-group">
                            <label for="county_selector">Select County</label>
                            <select id="county_selector" class="form-select" data-live-search="true">
                                <option value="Marsabit">Marsabit</option>
                                <!-- Populated dynamically -->
                            </select>
                        </div>
                        <!-- Time period -->
                        <div class="filter-group">
                            <label>Select Time Period:</label>
                            <div class="d-flex flex-wrap">
                                <div class="time-period-card active" data-period="all">All</div>
                                <div class="time-period-card" data-period="3m">Last 3 Month</div>
                                <div class="time-period-card" data-period="6m">Last 6 Months</div>
                                <div class="time-period-card" data-period="9m">Last 9 Months</div>
                                <div class="time-period-card" data-period="1y">Last 1 Year</div>
                                <div class="time-period-card" data-period="2y">Last 2 Years</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- national and county maps -->
                <div class="charts">
                    <div class="chart-container">
                        <div id="kenyamap" style="width: 100%; height: 600px;"></div>
                    </div>
                    <div class="chart-container">
                        <p id="county-map-instruction">Select a county to view sub-county data.</p>
                        <div id="countymap" style="width: 100%; height: 600px;"></div>
                    </div>
                </div>

                <!-- national trend plot -->
                <div class="chart-section">
                    <div class="chart-container">
                        <div id="national_trend_plot" style="width: 100%; height: 600px;"></div>
                    </div>
                </div>
            </div>
        
            <!-- Reporting Rates -->
            <div id="summary-reports" class="tab-pane">
                <div class="filters">
                    <h3> Summary reports per county(Reporting rates)</h3>
                </div>
            </div>

            <!-- Reporters statistics -->
            <div id="reporter-track" class="tab-pane">
                <div class="filters">
                    <h3> Reporter statistics(Track performance of reporters) </h3>
                </div>
            </div>
        </div>


        <!-- County -->
        {% elif section == 'county' %}
            <section class="filters">
                <div class="filter-row">
                    <div class="col-md-3 filter-group">
                        <label for="county_picker">Select County:</label>
                        <select id="county_picker" class="form-select" data-live-search="true">
                            {% for county in counties %}
                            <option value="{{ county }}" {% if loop.first %}selected{% endif %}>{{ county }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 filter-group">
                        <label for="subcounty_picker">Select Subcounty:</label>
                        <select id="subcounty_picker" class="form-select" data-live-search="true"></select>
                    </div>
                    <div class="col-md-3 filter-group">
                        <label for="disease_picker">Select Disease:</label>
                        <select id="disease_picker" class="form-select" data-live-search="true">
                            {% for disease in diseases %}
                            <option value="{{ disease }}" {% if disease == 'Rabies' %}selected{% endif %}>{{ disease }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </section>
        
            <section class="chart-grid">
                    <div class="chart-container">
                        <h4 id="county_map_title">Disease Distribution for {{ counties[0] }}</h4>
                        <div id="kenyacounty" style="width: 100%; height: 600px;"></div>
                    </div>
                    <div class="chart-container">
                        <h4 id="subcounty_map_title">Disease Distribution in Subcounty</h4>
                        <div id="kenyasubcounty" style="width: 100%; height: 600px;"></div>
                    </div>
            </section>
        
            <section class="chart-grid">
                    <div class="chart-container">
                        <h4 id="priority_diseases_title">Priority Diseases in {{ counties[0] }} (Click a bar to see trend)</h4>
                        <div id="county_diseases" style="width: 100%; height: 600px;"></div>
                    </div>
                    <div class="chart-container">
                        <h4 id="trend_title">Trend for Selected Disease in {{ counties[0] }}</h4>
                        <div id="sign_trend" style="width: 100%; height: 600px;"></div>
                    </div>
            </section>
        
            <section class="data-source">
                <div class="col-md-12">
                    <p style="font-style: italic; color: #555; margin-top: 20px; font-weight: bold;">
                        Data Source: KABS data ND1 Feb report 2023-2024
                    </p>
                </div>
            </section>

        <!-- Disease  -->
        {% elif section == 'disease' %}
            <div class="tab-content">
                <div id="national-thresholds" class="tab-pane active">
                    <div class="thresh-container">
                        <div class="kpi-card counties">
                            <div class="kpi-icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <h3 id="total_counties">0</h3>
                            <p>Counties Monitored</p>
                        </div>
                        
                        <div class="kpi-card alerts">
                            <div class="kpi-icon">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <h3 id="active_alerts">0</h3>
                            <p>Active Alerts: Avg mean (+1SD)</p>
                        </div>

                        <div class="kpi-card alerts">
                            <div class="kpi-icon">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <h3 id="outbreaks">0</h3>
                            <p>Outbreaks: Avg mean (+2SD)</p>
                        </div>

                        <div class="kpi-card alerts">
                            <div class="kpi-icon">
                                <i class="fas fa-stethoscope"></i>
                            </div>
                            <h3 id="diseases_monitored">0</h3>
                            <p>Diseases Monitored</p>
                        </div>
                    </div>
                   
                    <!-- Filters --> 
                    <div class="filters">
                        <div class="filter-row">
                            <div class="filter-group">
                                <label for="thresh_year">Select County:</label>
                                <select id="thresh_year" class="selectpicker" data-live-search="true">
                                    <option value="all">All Years</option>
                                    {% for year in years %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="filter-group">
                                <label for="thresh_year">Select County </label>
                                <select id="thresh_county" class="selectpicker" data-live-search="true">
                                    <option value="all">All Counties</option>
                                    {% for county in counties %}
                                        <option value="{{ county }}">{{ county }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="filter-group">
                                <label for="thresh_disease">Select Disease</label>
                                <select id="thresh_disease" class="selectpicker" data-live-search="true">
                                    <option value="all">All Diseases</option>
                                    {% for disease in diseases %}
                                        <option value="{{ disease }}">{{ disease }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="box">
                                <div id="alert_status_chart" style="height: 350px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box">
                                <h4 id="thresh_title" class="chart-title"></h4>
                                <table id="priority_table" class="table table-bordered table-striped"></table>
                            </div>
                        </div>
                    </div>
                  
                    <div class="filters">
                        <div class="filter-row">
                            <div class="filter-group">
                                <label for="national_disease">Select Disease:</label>
                                <select id="national_disease" class="selectpicker" data-live-search="true">
                                    {% for disease in diseases %}
                                        <option value="{{ disease }}" {% if disease == 'Brucellosis' %}selected{% endif %}>{{ disease }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box">
                                <div id="national_plot" style="height: 450px;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Static threshold -->
                <div id="static-threshold" class="tab-pane">
                    <div class="filters">
                        <div class="filter-row">
                            <div class="filter-group">
                                <label for="static_disease">Select Disease:</label>
                                <select id="static_disease" class="selectpicker" data-live-search="true">
                                    {% for disease in diseases %}
                                        <option value="{{ disease }}" {% if disease == 'Brucellosis' %}selected{% endif %}>{{ disease }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="filter-group">
                                <label for="static_county">Select County:</label>
                                <select id="static_county" class="selectpicker" data-live-search="true" multiple>
                                    {% for county in ['Kajiado', 'Marsabit', 'Kakamega', 'Makueni', 'Narok', 'Nakuru'] %}
                                        <option value="{{ county }}" selected>{{ county }}</option>
                                    {% endfor %}
                                    {% for county in counties if county not in ['Kajiado', 'Marsabit', 'Kakamega', 'Makueni', 'Narok', 'Nakuru'] %}
                                        <option value="{{ county }}">{{ county }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="filter-group">
                                <label for="static_year">Select Year:</label>
                                <select id="static_year" class="selectpicker" data-live-search="true">
                                    {% for year in years if year != 'all' %}
                                        <option value="{{ year }}" {% if year == '2024' %}selected{% endif %}>{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="static_grid"></div>
                </div>

                 <!-- Moving Avergae (Rolling mean) threshold -->
                 <div id="rolling-threshold" class="tab-pane">
                    <div class="filters">
                        <div class="filter-row">
                            <div class="filter-group">
                                <label for="rolling_disease">Select Disease:</label>
                                <select id="rolling_disease" class="selectpicker" data-live-search="true">
                                    {% for disease in diseases %}
                                        <option value="{{ disease }}" {% if disease == 'Brucellosis' %}selected{% endif %}>{{ disease }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="filter-group">
                                <label for="rolling_county">Select County:</label>
                                <select id="rolling_county" class="selectpicker" data-live-search="true" multiple>
                                    {% for county in ['Kajiado', 'Marsabit', 'Kakamega', 'Makueni', 'Narok', 'Nakuru'] %}
                                        <option value="{{ county }}" selected>{{ county }}</option>
                                    {% endfor %}
                                    {% for county in counties if county not in ['Kajiado', 'Marsabit', 'Kakamega', 'Makueni', 'Narok', 'Nakuru'] %}
                                        <option value="{{ county }}">{{ county }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="rolling_grid"></div>
                </div>
            </div>

        {% elif section == 'population' %}
            <section class="filters">
                <div class="filter-row">
                    <div class="filter-group ">
                        <label for="species_picker">Select Species:</label>
                        <select id="species_picker" class="form-select" data-live-search="true">
                            {% for species in species %}
                            <option value="{{ species }}" {% if loop.first %}selected{% endif %}>{{ species }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </section>
        
            <section class="chart-grid">
                    <div class="chart-container">
                        <h3>Livestock Distribution in Kenya</h3>
                        <div id="livestockmap" style="width: 100%; height: 700px;"></div>
                    </div>
                    <div class="chart-container">
                        <h3 id="dynamic_title">County Statistics for {{ species[0] }}</h3>
                        <div id="species_bar" style="width: 100%; height: 700px;"></div>
                    </div>
                </div>
            </section>

        {% endif %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Animal Surveillance Dashboard</h3>
                <p>Comprehensive monitoring of animal health across Kenya for evidence-based policy making.</p>
            </div>
            <div class="footer-section">
                <h3>Resources</h3>
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="updates.html">Updates</a>
                <a href="vaccine-coverage.html">Vaccine Coverage</a>
            </div>
            <div class="footer-section">
                <h3>Surveillance</h3>
                <a href="surveillance.html#national">National Overview</a>
                <a href="surveillance.html#county">County Surveillance</a>
                <a href="surveillance.html#thresholds">Disease Thresholds</a>
                <a href="surveillance.html#population">Animal Population</a>
            </div>
            <div class="footer-section">
                <h3>Contacts</h3>
                <p>Department of Veterinary Services</p>
                <li><span class="ion-ios-telephone"></span> (+254) 20 271 8870 </li>
                <li><span class="ion-email"></span><a href="mailto:infodvs@kilimo.go.ke" className="hover:underline">infodvs@kilimo.go.ke</a></li>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Animal Surveillance Dashboard - Department of Veterinary Services. All rights reserved.</p>
        </div>
    </footer>


    <!-- Scripts at the end of body -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% if section == 'national' %}
    <script src="{{ url_for('static', filename='js/surveillance.js') }}"></script>
    {% elif section == 'county' %}
    <script src="{{ url_for('static', filename='js/county_surveillance.js') }}"></script>
    {% elif section == 'population' %}
    <script src="{{ url_for('static', filename='js/animal_population.js') }}"></script>
    {% elif section == 'disease' %}
    <script src="{{ url_for('static', filename='js/disease_threshold.js') }}"></script>
    {% endif %}
</body>
</html>